$white: var(--white);
$dark: var(--dark);
$green: var(--green);
$yellow: var(--yellow);
$pink: var(--pink);
$magenta: var(--magenta);
$purple-100: var(--purple-100);
$purple-200: var(--purple-200);
$blue-100: var(--blue-100);
$blue-200: var(--blue-200);
$blue-300: var(--blue-300);
$gray-100: var(--gray-100);
$gray-200: var(--gray-200);
$gray-300: var(--gray-300);
$gray-400: var(--gray-400);
